@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: black;
    background-size: cover;
    font-family:'Quicksand', sans-serif;
}
.container{
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    background-color: white;
    padding: 25px;
    width: 400px;
    border-radius: 20px;
}
#alerts{
    text-align: center;
    background-color: white; 
    width: 300px;
    padding: 10px;
    visibility: hidden;
}